
html, body {
    font-family: Georgia, serif;
	
}

.bgimg{
		background-image: url(/ui/images/background.png);
		background-repeat: repeat;
		}
div.menu{
	position: fixed;
}
.centeredtext {
	margin-top:200px;
    text-align:center;
}

.neontext {
	text-shadow: 1px 1px 2px #00c5ff, 0 0 25px #004bff, 0 0 5px #000fff;
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.whitetext{
	color: white;
}

.img-medium {
    height: 200px;
}


a:link{
	text-decoration: none;
}

.resizeProfileImg{
	margin-top:175px;
	margin-left: 100px;
	height:300px;
	width:300px;
	border-radius: 100%;
	box-shadow: 1px 1px 2px red, 0 0 25px orange, 0 0 5px red, 0 0 50px yellow;
}


div.navigation {
	top:0;
	left:0;
	width:100%;
	z-index:100;
	background: #272822;
	padding: 10px;
	height:5em;
	border-bottom: 2px solid #26d9e8;
}

 div.navigation a{
	color:inherit;
}

div.navigation li{
	margin-top:10px;
	margin-right:20px;
	float:left;
	border: 1px solid #dee22e;
	color: #dee22e;
	border-radius: 4px;
	padding-top:5px;
	padding-left:5px;
	padding-right:5px;
	list-style-type: none;
	line-height:1em;
	transition: border-color 0.2s linear;
}

div.navigation li:nth-child(2){
	border-color: #f55c31;
	color:#f55c31;
}

div.navigation li:nth-child(3){
	border-color: #f92672;
	color:#f92672;
}

div.navigation li:nth-child(4){
	border-color: #ae81ff;
	color:#ae81ff;
}

div.navigation li:not(:hover){
	border-color: #272822;
}

div.navigation li.selected1{
	background: #dee22e;
	color: #272822;
}

div.navigation li.selected2{
	background: #f55c31;
	color: #272822;
}

div.navigation li.selected3{
	background: #f92672;
	color: #272822;
}

div.navigation li.selected4{
	background: #ae81ff;
	color: #272822;
}

#Share{
	float:right;
	left:100%;
	top:0;
	border: 0;
}

#wrapper{
	margin-top:200px;
	margin-right: 200px;
	float:right;
	background: #000;
	padding: 25px 15px 10px 60px;
	font-size:26;
	color: #fff;
	opacity:0.8;
	width: 500px;
	height:250px;
	box-shadow: 0 0 5px red, 0 0 1px red, 0 0 25px orange;
	border-radius:5px;
}


.articles{
	display:block;
	margin-top:100px;
}



.articles li{
	display:block;
	padding-bottom:20px;
}

.articles a:link{
	font:bold;
	color:black;
}

.articles a:visited{
	color:grey;
}


.displaynews{
	width:75%;
	height: 400px;
	background-color: white;
	border: none;
	border-radius:5px;
}

.comments
{
	width:50%;
	padding:5px;
}

.footer
{
	position:fixed;
	bottom:0;
	right:0;
}

#acknowledge
{
	float:right;
}

.scroll-pane
{
	width: 20%;
	height: 400px;
	overflow: auto;
	float:left;
	margin-right: 10px;
	background: white;
	border: none;
	border-radius:5px;
}

#imad
{
	width:40%;
	height:40%;
}

.clicked {
    border-bottom: 1px solid red;
}